.logo img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
}

.links li a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.main {
    background-color: #1f2937;
    height: 450px;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    padding-top: 50px;
}


.content img {
    width: 500px;
    height: 250px;
    display: flex;
}

#text, .links li a {
    font-size: 18px;
    color: #e5e7eb;
}

.content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}

#benz {
    font-size: 60px;
    color: cornflowerblue;
    
}

.sign-up {
    background-color: #3882f6;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    color: white;
    transition: 0.4s ease-in-out;
}

.sign-up:hover {
    background-color: #a0b4d3;
}


.information {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.information img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-weight: lighter;
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    padding: 30px;
    margin: 50px;

}


.call {
    background-color: #3882f6;
    margin: 0 150px;
    padding: 10px;
    border-radius: 5px;
}

.call h1{
    font-weight: bolder;
    font-size: 40px;
    color: #fff;


}

.call p {
    font-size: 20px;


}

.call button {
    background-color: inherit;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px;
    width: 120px;
    color: #fff;
}




.footer {
    background-color: #1f2937;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}